body{
	font-family: Arial, Helvetica, sans-serif;
	background-color:#102e42;
	margin-top: 5%;
}

/* Style pour les formulaires */
form{
    border: 3px solid rgb(190, 189, 189);
}

/* Style pour les champs de saisie */
input[type=password], input[type=email] , input[type=username], input[type=file]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Style pour les boutons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none; 
  cursor: pointer;
  width: 100%;
}

/* Style pour le survol des boutons */
button:hover {
  opacity: 0.8;
}

/* Style pour le bouton d'annulation */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Style pour le bouton d'inscription */
.signupbtn{
	background-color:#1098F7;
}

/* Style pour le conteneur principal */
.maincontainer{
	background-color:white;
	width: 40%;
	margin:auto;	
}

/* Style pour le conteneur d'image */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Style pour l'image d'avatar */
img.avatar {
  width: 25%;
  border-radius: 50%;
}

/* Style pour le conteneur général */
.container {
  padding: 16px;
}

/* Style pour le lien "Mot de passe oublié?" */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Style pour la fenêtre modale de connexion */
.modal {
  display: none; /* Caché par défaut */
  position: fixed; /* Fixe */
  z-index: 1; /* Au-dessus de tout le reste */
  left: 0;
  top: -12px;
  width: 100%; /* Largeur pleine */
  height: 100%; /* Hauteur pleine */
  overflow: auto; /* Activer le défilement si nécessaire */
  background-color: rgb(0,0,0); /* Couleur de repli */
  background-color: rgba(0,0,0,0.4); /* Noir avec opacité */
  padding-top: 2.5%;
}

/* Style pour le contenu de la fenêtre modale de connexion */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% de la hauteur et centré */
  border: 1px solid #888;
  width: 40%; /* Largeur dépend de la taille de l'écran */
}

/* Style pour le bouton de fermeture */
.close {
  /* Position en haut à droite en dehors de la fenêtre modale */
  position: absolute;
  right: 25px;
  top: 0;
  color: white;
  font-size: 35px;
  font-weight: bold;
  margin:20px;
}

/* Style pour le bouton de fermeture survolé */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Ajouter l'animation zoom */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.listbtn{
	background-color:lightblue;
	font-size: 15px;
}

